/* Common shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;

}

/* Header related styles */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 230px;
}

/* Navbar related styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-highlight{
    color: #FF900E;;
}
.nav-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.9rem;
    font-weight: 700;
   
}

nav ul{
    list-style: none;
    display: flex;
    
}

nav a{
    margin-right: 35px;
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 700;
 
}


/* Banner section related styles */

.banner-content{
    max-width: 860px;
    padding-top: 5rem;
    margin: auto;
    text-align: center;
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    color: var(--dark-03, #727272);
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.banner-container img{
    margin-top: 20px;
    width: 100%;
}

/* Main section related styles */

main{
    max-width: 1440px;
    margin: 20px auto;
}

/* Teams section related styles */

.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}
.teams-content{
    padding-left: 75px;
    padding-right: 75px;
 
}

.teams-title{
    font-size: 2.9rem;
}

.quick-text{
    color:#727272;
    font-weight: 500;
}
.ours-text{
    color: #131313;
     font-weight: 700;
}
.features-text{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color:#727272;
    margin-top: 20px;
    font-weight: 400;
    line-height: 26px;
}

/* Features section related styles */









/* Facts section related styles */
.fact-text{
    margin-top: 100px;
}
.fact-title{
    color: #131313;
    font-size: 2.9rem;
    font-weight: 700;
}

.fact-description{
    color:#727272;
    font-weight: 400;
    line-height: 26px; 
    max-width: 540px;
}
.facts-card-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.facts-card{
    padding: 50px 50px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.card-img{
    width: 60px;
}

.card-stats{
    color:#424242;
    font-size: 2.9rem;
    font-weight: 600;
    margin-top: 5px;
}

.card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

}






/* !Media Queries for Small devices */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .navbar,
    .teams-container{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }

    .banner-content{
        padding-top: 10px;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
 
}
}

/* !Media queries for medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    
     header{
        padding: 20px;
    }
    
    .navbar,
    .teams-container{
        flex-direction: column;
    }

    nav ul{
       margin-top: 20px;
    }
    .banner-content{
        padding-top: 10px;
    }
    .teams-content{
        margin-top: 30px;
    }
}
